body {
  margin: 0;
  font-family: sans-serif;

  background-color: cadetblue;
}
.container {
  width: 450px;

  position: sticky;
  margin: auto;
  /*left: 50%;*/
  top: 0;
  /*transform: translate(-50%, -50%);*/
  text-align: center;
}
.input-section {
  background-color: wheat;
  border-radius: 10px;
  padding: 20px;
}
.input-section input {
  border-radius: 5px;
  border-color: silver;
  border-width: 2px;

  width: 100%;
  height: 30px;
  box-sizing: border-box;
  outline: none;
}
ul {
  text-align: left;
  padding: 0;
}
ul li {
  display: flex;
  background-color: white;
  padding: 7px;
  list-style: none;
  border-radius: 5px;
  border-color: silver;
  border-width: 2px;
  margin-bottom: 10px;
  word-break: break-all;
}
.data-section {
  margin-right: 15px;
}
.trash-icon {
  cursor: pointer;
  position: absolute;
  right: 6px;
  height: 1.2em;
  align-items: flex-end;
}
.completed {
  box-shadow: 10px;
  border-radius: 5px;
  padding-top: 0;
  background-color: rgb(133, 161, 133);
}
.wrap {
  width: 100%;
}
.blocks {
  display: flex;
  width: 100%;
}
.completed-blocks {
  display: inline-block;
  width: 100%;
  text-align: center;
}
